<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
	</settings>
	
		<typeAliases>
			<typeAlias alias="User" type="zhuanli.domain.User"/>
			<typeAlias alias="FirstColumn" type="zhuanli.domain.FirstColumn"/>
			<typeAlias alias="SecondColumn" type="zhuanli.domain.SecondColumn"/>
			<typeAlias alias="Page" type="zhuanli.domain.Page"/>
			<typeAlias alias="ColumnCount" type="zhuanli.domain.ColumnCount"/>	
			<typeAlias alias="Patent" type="zhuanli.domain.Patent"/>
			<typeAlias alias="PatentSearchCondition" type="zhuanli.domain.PatentSearchCondition"/>
			<typeAlias alias="Notice" type="zhuanli.domain.Notice"/>
			<typeAlias alias="BrandCategory" type="zhuanli.domain.BrandCategory"/>
			<typeAlias alias="Brand" type="zhuanli.domain.Brand"/>
			<typeAlias alias="BrandSearchCondition" type="zhuanli.domain.BrandSearchCondition"/>
			<typeAlias alias="GoodsDetail" type="zhuanli.domain.GoodsDetail"/>
			<typeAlias alias="GoodsFirstColumn" type="zhuanli.domain.GoodsFirstColumn"/>
			<typeAlias alias="GoodsSecondColumn" type="zhuanli.domain.GoodsSecondColumn"/>
			<typeAlias alias="SaleGood" type="zhuanli.domain.SaleGood"/>
			<typeAlias alias="PatentType" type="zhuanli.domain.PatentType"/>
			<typeAlias alias="PatentStatus" type="zhuanli.domain.PatentStatus"/>
			<typeAlias alias="ContactAddress" type="zhuanli.domain.ContactAddress"/>
		</typeAliases>
</configuration>