html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:14px/1.5 "Microsoft YaHei","宋体",Tahoma,Geneva,sans-serif;color:#323232}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
input::-moz-focus-inner{border:0}
address,caption,cite,code,dfn,em,strong,th,var,i{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%; line-height:1.2; font-weight:normal}
q:before,q:after{content:''}
a{color:#333;text-decoration:none}
a:hover{color:#ef8200;text-decoration:underline}
a,a:active,a:focus,input{outline:none}
.clear:after,.cf:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.clear,.cf{*zoom:1}
.clearit{height:0;clear:both;font-size:0;overflow:hidden}
.clr-l{clear:left}
.f-ib{display:inline-block;*zoom:1;*display:inline;_zoom:1;_display:inline}
.f-dn{display:none}
.f-db{display:block}
.f-fl{float:left}
.f-fr{float:right}
.f-fwn{font-weight:normal}
.f-fwb{font-weight:bold}
.f-tal{text-align:left}
.f-tac{text-align:center}
.f-tar{text-align:right}
.f-csp{cursor:pointer}
.f-csd{cursor:default}
.f-csh{cursor:help}
.f-csm{cursor:move}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.f-YH{font-family:"Microsoft YaHei","宋体" !important}
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.mt20{margin-top:20px}
.mb20{margin-bottom:20px}
.mt30{margin-top:30px}
.mb30{margin-bottom:30px}
.mt40{margin-top:40px}
.mb40{margin-bottom:40px}
.mt50{margin-top:50px}
.mb50{margin-bottom:50px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.ml20{margin-left:20px}
.mr20{margin-right:20px}
.ml30{margin-left:30px}
.mr30{margin-right:30px}
.ml40{margin-left:40px}
.mr40{margin-right:40px}
.ml50{margin-left:50px}
.mr50{margin-right:50px}
.pt10{padding-top:10px}
.pb10{padding-bottom:10px}
.pt20{padding-top:20px}
.pb20{padding-bottom:20px}
.pt30{padding-top:30px}
.pb30{padding-bottom:30px}
.pt40{padding-top:40px}
.pb40{padding-bottom:40px}
.no-pd{padding:0 !important}


.icon-wtoip_login-close {
	background-image: url(../image/sp_wtoip_login.png);
	background-position: 0 -43px;
	width: 16px;
	height: 16px
}

.icon-wtoip_login-psw {
	background-image: url(../image/sp_wtoip_login.png);
	background-position: 0 0;
	width: 13px;
	height: 14px
}

.icon-wtoip_login-qq {
	background-image: url(../image/sp_wtoip_login.png);
	background-position: 0 -59px;
	width: 20px;
	height: 20px
}

.icon-wtoip_login-sina {
	background-image: url(../image/sp_wtoip_login.png);
	background-position: 0 -79px;
	width: 20px;
	height: 20px
}

.icon-wtoip_login-success {
	background-image: url(../image/sp_wtoip_login.png);
	background-position: 0 -99px;
	width: 167px;
	height: 38px
}

.icon-wtoip_login-ul_check {
	background-image: url(../image/sp_wtoip_login.png);
	background-position: 0 -28px;
	width: 15px;
	height: 15px
}

.icon-wtoip_login-user {
	background-image: url(../image/sp_wtoip_login.png);
	background-position: 0 -14px;
	width: 13px;
	height: 14px
}

.mark {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=60);
	opacity: .6;
	z-index: 2000
}

.win-pop {
	width: 390px;
	position: fixed;
	left: 50%;
	top: 30%;
	margin-left: -190px;
	margin-top: -130px;
	z-index: 2001;
	background-color: #fff;
	box-shadow: 0 0 20px #333;
	font-size: 12px
}

.win-cont {
	font-family: 'Microsoft Yahei',Tahoma,'宋体','Book Antiqua',Palatino;
	position: relative;
	margin-bottom: 25px
}

.win-cont a {
	text-decoration: none
}

.win-cont .close {
	display: block;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: -50px;
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	background-color: #616161;
	font-family: 'Microsoft Yahei',Tahoma,'宋体','Book Antiqua',Palatino;
	color: #fff;
	text-decoration: none
}

.win-cont .close:hover {
	background-color: #333
}

.win-cont .win-hd {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	color: #434a54;
	background: #f2f2f2;
	font-family: 'Microsoft Yahei',Tahoma,'宋体','Book Antiqua',Palatino
}

.win-cont .win-form {
	margin: 0 15px;
	padding: 25px 30px;
	line-height: none
}

.win-cont .win-form .radio {
	height: 38px;
	line-height: 38px
}

.win-cont .win-form .radio label {
	margin-right: 15px;
	vertical-align: middle
}

.win-cont .win-form .radio input {
	margin: 0 5px 0 0;
	padding: 0;
	font: 13px Helvetica,Arial,sans-serif;
	vertical-align: -2px
}

.win-cont .win-form .item {
	height: 38px;
	border: 1px solid #dfdfdf;
	margin-bottom: 15px
}

.win-cont .win-form .item label {
	display: inline-block;
	*zoom:1;
	*display: inline;
	float: left;
	margin-top: 12px;
	margin-left: 10px;
	text-indent: -9999px;
	font-family: "Microsoft YaHei",Tahoma,Geneva,sans-serif
}

.win-cont .win-form .item input {
	display: inline-block;
	*zoom:1;
	*display: inline;
	float: left;
	width: 245px;
	height: 30px;
	padding: 4px 4px 4px 15px;
	border: none
}

.win-cont .win-form .code {
	height: 38px
}

.win-cont .win-form .code span {
	float: left;
	margin: 10px 5px 0 0
}

.win-cont .win-form .code input {
	display: inline-block;
	*zoom:1;
	*display: inline;
	float: left;
	height: 30px;
	padding: 4px;
	border: 1px solid #dfdfdf;
	width: 110px
}

.win-cont .win-form .code img {
	padding-left: 8px;
	cursor: pointer
}

.win-cont .win-form .error-tips {
	height: 20px;
	margin: 5px 0 3px 0
}

.win-cont .win-form .error-tips span {
	margin-left: 0
}

.win-cont .win-form .action {
	height: 38px
}

.win-cont .win-form .action a {
	display: inline-block;
	*zoom:1;
	*display: inline;
	border-radius: 3px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #f60;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	font-family: 'Microsoft Yahei',Tahoma,'宋体','Book Antiqua',Palatino
}

.win-cont .win-form .action a:hover {
	background-color: #ff8b23
}

.win-cont .tips {
	text-align: center
}

.win-cont .tips a {
	color: #f60
}

.win-cont .remember {
	padding: 20px 0 5px
}

.win-cont .remember input {
	vertical-align: middle;
	margin-right: 5px
}

.win-cont .remember a {
	color: #36c
}

.win-cont .success-hd {
	height: 80px;
	padding: 20px 15px 0 15px;
	text-align: center;
	border-bottom: solid 1px #ccc;
	font-family: "Microsoft YaHei",Tahoma,Geneva,sans-serif
}

.win-cont .icon-wtoip_login-success {
	margin: 0 auto
}

.win-cont .txt {
	line-height: 40px;
	text-align: center;
	color: #999
}

.win-cont .win-content ul {
	padding: 0 20px
}

.win-cont .win-content ul li {
	margin-top: 15px;
	overflow: hidden
}

.win-cont .win-content ul i {
	position: relative;
	display: block;
	float: left
}

.win-cont .win-content ul span {
	float: left;
	display: block;
	width: 330px;
	margin-left: 5px
}

.win-cont .win-btn {
	display: block;
	width: 360px;
	border-radius: 3px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #f60;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin: 20px auto 0;
	text-decoration: none
}

.win-cont .win-btn:hover {
	background: #ff8b23
}
.con_gray {
	color: #999
}

.icon {
	overflow: hidden;
	display: inline-block;
	*zoom:1;
	*display: inline;
	width: 12px;
	height: 12px;
	line-height: 0
}

.icon16 {
	display: block;
	overflow: hidden;
	width: 16px;
	height: 16px;
	line-height: 0
}

.container {
	width: 1190px;
	margin: 0 auto;
	height: auto;
	zoom: 1
}

.container:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both
}

.arrow-fl li {
	list-style: none;
	float: left;
	display: inline;
	margin: 20px
}

.arrow {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 5px;
	border-color: rgba(255,255,255,0);
	border-color: transparent;
	_border-color: #ff6347;
	_filter: chroma(color=#ff6347);
	border-style: solid;
	*zoom: 1
}

.arrowR {
	border-left-color: #c7c4c4;
	border-right-width: 0
}

.arrowL {
	border-right-color: #f60;
	border-left-width: 0
}

.arrowL:hover {
	border-right-color: #ddd
}

.arrowT {
	border-bottom-color: #f60;
	border-top-width: 0
}

.arrowB {
	border-top-color: #f60;
	border-bottom-width: 0
}

.arrow2 {
	display: block;
	position: relative !important;
	width: 5px;
	height: 10px
}

.arrow2 .arrow {
	position: absolute;
	left: 0;
	top: 0
}

.arrow2 .smallB {
	left: 2px
}

.arrow2 .smallB {
	border-width: 3px;
	border-top-color: #fff;
	border-bottom-width: 0
}

.arrow2 .smallT {
	border-width: 3px;
	border-bottom-color: #fff;
	border-top-width: 0
}

.arrow2 .smallT {
	left: 2px;
	top: 2px
}

.arrow2 .smallL {
	border-width: 3px;
	border-right-color: #fff;
	border-left-width: 0
}

.arrow2 .smallL {
	left: 2px;
	top: 2px
}

.arrow2 .smallR {
	border-width: 3px;
	border-left-color: #fff;
	border-right-width: 0
}

.arrow2 .smallR {
	left: 0;
	top: 2px
}

.onShow,.onFocus,.onError,.onCorrect,.onLoad,.onTime {
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
	/*background: url(../image/msg_bg.png) no-repeat;*/
	color: #444;
	line-height: 18px;
	padding: 2px 10px 2px 23px;
	margin-left: 10px;
	_margin-left: 5px
}

.onShow {
	background-position: 3px -147px;
	border-color: #40b3ff;
	color: #959595
}

.onFocus {
	background-position: 3px -147px;
	border-color: #40b3ff
}

.onError {
	background-position: 3px -47px;
	border-color: #40b3ff;
	color: #f00
}

.onCorrect {
	background-position: 3px -247px;
	border-color: #40b3ff
}

.onLamp {
	background-position: 3px -200px
}

.onTime {
	background-position: 3px -1356px
}

.head-cont .logo {
	position: relative
}

.head-cont .logo a {
	float: left
}

.head-cont .logo .channel-title {
	position: absolute;
	left: 230px;
	bottom: 0;
	font: normal 26px/35px "å¾®è½¯é›…é»‘";
	border-left: 1px solid #ddd;
	padding: 0 0 0 6px;
	color: #666
}

img.lazy {
	background: url(../image/img_loading.gif) no-repeat scroll center center rgba(0,0,0,0)
}

.m-page {
	margin: 30px 0;
	text-align: center;
	line-height: 24px;
	font-size: 0;
	letter-spacing: -0.307em;
	*letter-spacing: normal;
	*word-spacing: -1px;
	word-wrap: normal;
	white-space: nowrap;
	color: #999
}

.m-page input,.m-page small,.m-page a,.m-page span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	padding: 0 9px;
	margin-left: -1px;
	border: 1px solid #bbb;
	font-size: 12px !important;
	letter-spacing: normal;
	word-spacing: normal;
	margin-left: 5px
}

.m-page a{color:#666}
.m-page a:hover {
	text-decoration: none;
	color: #f08519 !important
}

.m-page a.first {
	margin-left: 0
}

.m-page a.last {
	margin-right: 0
}

.m-page a .pagearr {
	font-weight: bold;
	font-family: "宋体";
	vertical-align: top;
	*vertical-align: middle
}

.m-page a.pageprv .pagearr {
	margin-right: 3px
}

.m-page a.pagenxt .pagearr {
	margin-left: 3px
}

.m-page span {
	background: #f08519;
	color: #fff;
	border: 1px solid #f08519;
}

.m-page a:active {
	background: #f0f0f0
}

.m-page a.z-crt,.m-page a.z-crt:hover,.m-page a.z-crt:active {
	cursor: default;
	color: #fff;
	background: #fe611c
}

.m-page a.z-dis,.m-page a.z-dis:hover,.m-page a.z-dis:active {
	cursor: default;
	color: #ccc;
	background: #fff
}
.m-page .count{color:#a7a7a7}

.mod-sitemap-user,.head-top-rk,.mod-sitemap-wecome,.mod-sitemap-order {
	display: inline-block;
	*zoom:1;
	*display: inline;
	float: left
}
